/*navbar*/
.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--primary-color);
    margin: 8px;
} 

.navbar__logo {
    border-radius: 50%;
}

.navbar__menu {
    display: flex;
    gap: 60px;
}

.navbar__menu a {
    font-size: 3rem;
    text-decoration: none;
    color: var(--primary-color);
    transition: 2s;
}

.navbar__menu a:hover {
    border-bottom: 3px solid var(--primary-color);
    cursor: pointer;
    color: var(--second-color);
}

/*Main price-table*/
#price-table {
    text-align: center;
    margin-top: 150px;
    width: 100%;
    margin-bottom: 150px;
    scroll-margin: 150px;
}

.price-table__title {
    font-size: 5rem;
    font-weight: normal;
    color: var(--primary-color);
}

.price-table__title span {
    color: var(--second-color);
}

.price-table__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.price-table__card {
    max-width: 800px;
    width: 100%;
    max-height: 200px;
    display: flex;
    gap: 30px; 
    transition: transform 0.3s ease-in-out;   
}

.price-table__img {
    max-width: 200px;
    width: 100%;
    border: 3px solid var(--primary-color);
}

.price-table__img img {
    width: 100%;
    height: 100%;
}

.price-table__informations {
    display: flex;
    width: 100%;
    font-size: 3rem;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    height: 200px;
    justify-content: start;
    align-items: center;
    text-align: start;
}

.price-table__informations p {
    margin: 0px 0px 0px 30px;
}

.price-table__informations span {
    color: var(--second-color);
}

.price-table__card:hover {
    transform: scale(1.1);
}

.price__btn {
    width: 100%;
}

.services__btn {
    background-color: var(--primary-color);
    border: 3px solid var(--second-color);
    color: var(--terciary-color);
    width: 20%;
    height: 50px;
    font-size: 1.7rem;
    transition: transform 0.2s ease-in;
    margin-top: 50px ;
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px var(--primary-color);
}

.services__btn:hover {
    background-color: var(--second-color);
    transform: scale(1.1);
    border: 3px solid var(--primary-color);
    box-shadow: 10px 10px 10px 2px var(--primary-color);
}

/*Footer*/
#footer {
    background-color: var(--bg-color);
    width: 100%;
    scroll-margin: 130px;
}

.footer__container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 50px;
}

.footer__text {
    font-size:3.5rem;
    color: var(--terciary-color);
    font-weight: normal;
    margin: 0px 0px 10px 0px;
}

.footer__text span {
    color: var(--second-color);
}

.footer__medias {
    display: flex;
    gap: 10px;
    font-size: 2rem;
    color: var(--terciary-color);
}

.icon {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    border: 2px solid var(--second-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
}

i.fa-brands.fa-instagram, i.fa-brands.fa-whatsapp {
    color: var(--terciary-color);
}

.icon:hover {
    background-color: var(--second-color);
    border: 2px solid var(--primary-color);
    transform: scale(1.1);
}

.footer__number, .footer__address {
    color: var(--terciary-color);
    font-size: 2rem;
}

iframe {
    box-shadow: 5px 5px 10px 2px var(--primary-color);
}

@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .navbar__menu.active {
        transform: translateX(0);
        transform: transform 0.3s ease-in;
    }
    
    .navbar__menu {
        position: absolute;
        top: 10.8vh;
        right: 0;
        width: 50vw;
        height: 60vh;
        background: rgba(255, 255, 255, 0.9);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transform: transform 0.3s ease-in;
    }

    .mobile-menu {
        display: block;
    }
}

@media (max-width: 480px) {
    .navbar__menu {
        position: absolute;
        top: 16.5vh;
        right: 0;
        width: 50vw;
        height: 60vh;
        background: rgba(255, 255, 255, 0.9);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transform: transform 0.3s ease-in;
    }

    .price-table__title {
        font-size: 3rem;
        padding: 20px;
    }

    .price-table__container {
        gap: 20px;
        padding: 0px 20px;
    }

    .price-table__informations {
        font-size: 1.6rem;
    }

    .price-table__card {
        gap: 20px;  
    }

    .price-table__informations p {
        margin: 0px;
        text-align: center;
        padding: 10px;
    }

    .price__btn {
        width: 100%;
    }

    .services__btn {
        width: 60%;
        height: 50px;
    }

    iframe {
        width: 330px;
    }
}


